*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/Ellipse\ 7.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.large-text{
    font-size: 60px;
    font-weight: 700;
}
span{
    color: #8A47F6;
}
h1{
    width: 0px;
    margin-top: 160px;
}
.bg-image{
    background-image: url(images/img_nature_wide.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    transition: all 0.3s;
}
img:hover{
    transform: scale(1.05);
}
.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.15);
}
a:hover{
    font-weight: bold;
    color: #8A47F6;
}

.btn-1:hover{
    background-color: #FE8C45;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-2{
    transition: all 0.3s;
}
.btn-2:hover{
    transform: translateY(-5px);
    background-color: #FE8C45;
}

.btn-3{
    transition: all 0.3s;
}
.btn-3:hover{
    transform: scale(1.2);
    background-color: #FE8C45;
}

.btn-4{
    transition: all 0.2s;
}
.btn-4:hover{
    font-weight: bold;
    background-color: #FE8C45;
}

a:hover .fa-facebook{
    color: #3b5998;
}
a:hover .fa-instagram{
    color: #FE8C45;
}
a:hover .fa-twitter{
    color: #00acee;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #8A47F6;
}